// Place all the styles related to the Student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
[type="radio"]:not(:checked), [type="radio"]:checked{
    position: inherit;
    opacity: 1;
    pointer-events: none;
 }